#landingBackground{
  height: 100%;
  width: 100%;
  background: lightgray;
  position: fixed;
}

#landingBox {
  position: absolute;
  top: 52px;
  margin: 20px;
  background: white;
  border-radius: 10px;
  border: 1px solid lightgray;
}


component-list .min {
  margin: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;
  max-height: 300px;
  overflow: hidden;
  border-bottom: 1px dashed #A52A2A;
}

#landingBox > div {
  padding: 20px;
}