body, .resultsContainer {
  overflow: hidden;
}

.filters{
  position: absolute;
  top: 52px;
  border: 1px orange solid;
  width: 0px;
  left: 0px;
  display: none;
}

.page1{
  border: 1px orange solid;
  width: 100%;
  position: relative;
  overflow:auto;
}

.page2{
  margin-right: -1px;
  border-top: 1px orange solid;
  border-right: 1px orange solid;
  border-bottom: 1px orange solid;
  margin-left: 100%;
  position: relative;
  overflow:auto;
}

.openResults{
}
.openDetails{
}

.selected {
  border: 1px solid orange;
}

#showPageRight {
  height: 90px;
  width: 20px;
  border-radius: 90px 0 0 90px;
  -moz-border-radius: 90px 0 0 90px;
  -webkit-border-radius: 90px 0 0 90px;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: auto;
  right: 0px;
  z-index: 1000;
  padding: 0px;
  white-space: normal;
  outline: none;
  font-size: xx-large;
}

#showPageLeft {
  height: 90px;
  width: 20px;
  border-radius: 0px 90px 90px 0px;
  -moz-border-radius: 0px 90px 90px 0px;
  -webkit-border-radius: 0px 90px 90px 0px;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  left: 0px;
  right: auto;
  z-index: 1000;
  padding: 0px;
  white-space: normal;
  outline: none;
  font-size: xx-large;
}

.results {
  overflow: auto;
}

.results-content-title{
  color: #3892d3;
  padding: 2px 5px;
  font-size: 23px;
  /*margin-left:110px;*/
}
.results-content-title .popover{
  position: absolute !important;
  color: black;
  font-size: 12px;
  /*margin-left:110px;*/
}
.results-content-title:hover{
  cursor: pointer;
  color: #22699c;
}
.watch-content-title{
  color: #ffffff;
  padding: 2px 5px;
  font-size: 23px;
  /*margin-left:110px;*/
}