/nbproject/private/
/site/mobile/nbproject/private/
/server/opencatalog-web/target/
/server/openstorefront-api/target/
/server/openstron-web/target/
/server/openstorefront-web/target/
/server/openstorefront/openstorefront-api/target/
/server/openstorefront/openstorefront-web/target/
/client/openstorefront/nbproject/private/
/client/openstorefront/distwar/
/client/openstorefront/dist/
/client/openstorefront/app/bower_components/
client/openstorefront/npm-debug.log
