<!-- <p>This is the details/details view.</p> -->
<!-- <div class="row"> -->
<!-- 	<div class="col-md-12"> -->
<div class="component-details">
  <div class="component2-div row" style="margin-top: -10px">
   <div class="col-md-3">


    <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">Categories</h3>
     </div>
     <div class="panel-body">
      <div data-ng-repeat="tag in details.categories">
                  <ul>
            <li> <a href="">{{tag.desc}}</a></li>
          </ul>
<!--         <p style="margin: 0px 0px 0px 20px">
          <a href="">
            {{tag.desc}}
          </a>
        </p> -->
      </div>
    </div>
  </div>

<!--   <p style="margin-top: 5px; margin-bottom: 0px"><strong>Categories:</strong></p>
  <div data-ng-repeat="tag in details.categories">
   <p style="margin: 0px 0px 0px 20px">
    <a href="">
     {{tag.desc}}
   </a>
 </p>
</div> -->

</div>







<div class="col-md-3">

 <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">Features</h3>
     </div>
     <div class="panel-body">
<!-- 
        <p style="margin-top: 5px; margin-bottom: 0px"><strong>Features:</strong></p> -->
        <div data-ng-repeat="tag in details.features">

          <ul>
            <li> <a href="">{{tag.desc}}</a></li>
          </ul>
<!--              <p style="margin: 0px 0px 0px 20px">
              <a href="">
               {{tag.desc}}
             </a>
           </p> -->


     </div>
</div>
</div>
</div>

<div class="col-md-3">
 <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">Operational Status</h3>
     </div>
     <div class="panel-body">
      <p style="margin-top: 5px">
    <!--    <strong>
        Operational Status:
      </strong> -->
      {{details.operationStatus}}
    </p>
    </div>
</div>
<!-- <p style="margin-top: -10px">
  <strong>
    Component State:
  </strong>
  {{getEvaluationState()}}
</p>  
 -->

</div>

<div class="col-md-3">
 <div class="panel panel-default">
      <div class="panel-heading">
       <h3 class="panel-title">Component State</h3>
     </div>
     <div class="panel-body">
      <p style="margin-top: 5px">
    <!--    <strong>
        Operational Status:
      </strong> -->
       {{getEvaluationState()}}
    </p>
    </div>
</div>
<!-- <p style="margin-top: -10px">
  <strong>
    Component State:
  </strong>
  {{getEvaluationState()}}
</p>  
 -->

</div>






    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
<!-- <div class="component2-div-title">DESCRIPTION</div>
<div class="container component2-div">
  <div class="col-sm-12">
    {{details.description}}
  </div>
</div> -->
<div class="component2-div-title">RESOURCES</div>
<div class="container component2-div">
  <div class="col-sm-12">

    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-html.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Web Pages
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-x-script.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Binaries
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/text-x-generic.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Source
        </a>
      </div>
    </div>
    <div class="pull-left" style="width: 95px">
      <div style="text-align: center; width: 100%">
        <img src="images/icon/tango/x-office-document.png" alt="">
      </div>
      <div style="text-align: center">
        <a href="">
          Documentation
        </a>
      </div>
    </div>
    <div style="position: relative; clear: both"></div>
  </div>
</div>
<div class="component2-div-title">EVALUATION RESOURCES</div>
<div class="container component2-div">
  <div class="col-sm-12">
    <div class="detailSection">
      <table>
        <tbody>
          <tr>
            <td>
              <a href="" target="_blank">
                <img src="images/icon/silk/medal_bronze_1.png" title="Evaluated" width="22" height="22"> 
                <span class="conformance_badge">Evaluation</span><br>                   
              </a> 
            </td>
            <td style="padding-left: 20px">
              <a href="" target="_blank">
                <img src="images/icon/silk/medal_silver_1.png" title="Evaluated" width="22" height="22"> 
                <span class="conformance_badge">Conformance Testing</span><br>                    
              </a>                  
            </td>
            <td style="padding-left: 20px">
              <a href="" target="_blank">
                <img src="images/icon/silk/medal_gold_1.png" title="Evaluated" width="22" height="22"> 
                <span class="conformance_badge">Reference Integration</span><br>                    
              </a>                  
            </td>
          </tr>
        </tbody>
      </table>              
    </div>
  </div>
</div>


<div class="component2-div-title">RELATIONSHIPS</div>
<div class="container component2-div">
  <div class="col-sm-12">
    <div>
      <h4>
        Parent Component:
      </h4>
      <div data-ng-repeat="thing in details.componentOf">
        <a  href="">{{thing.name}}</a>
      </div>
      <h4>
        Child Component(s):
      </h4>
      <div data-ng-repeat="subComponent in details.subComponents">
        <a  href="">{{subComponent.name}}</a>
      </div>
    </div>
  </div>
</div>

<div class="component2-div-title">SCREENSHOTS / MEDIA</div>
<div class="container component2-div">
  <div class="col-sm-6">
    <div class="detailSection">
      <img src="images/picture1.png" class="screenshot" onclick="screenshotPopUp('images/picture1.png')">
    </div>
  </div>
</div>
