<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-7">
				<div class="table-responsive">
					<table class="table table-bordered table-hover" ng-repeat="row in componentSummary">
						<tbody>
							<tr>
								<td class="warning valign" colspan="3"><h4><b>Component Summary</b></h4></td>
							</tr>							
							<tr class="valign">
								<td style="vertical-align:middle"  width="40%">Component</td>
								<td style="vertical-align:middle"  width="60%"><h4>{{details.name}}</h4></td>
							</tr>
							<tr>
								<td>Version</td>
								<td>{{row.versions}}</td>
							</tr>
<!-- 							<tr>
								<td>Evaluation Date</td>
								<td>{{row.evaluationdate}}</td>
							</tr> -->
							<tr>
								<td>Component Type</td>
								<td>{{row.componenttype}}</td>
							</tr>							
							<tr>
								<td>Agency</td>
								<td>{{row.agency}}</td>
							</tr>
							<tr>
								<td>DI2E Marketplace</td>
								<td>{{row.di2emarketplace}}</td>
							</tr>													
						</tbody>
					</table>
					<div>
						<p>
							<b>Component Description:</b>
						</p>
						<p>
							<ul>
								<li>{{details.name}} is a Java-based API (application programmer’s interface) that was developed to reduce the time, cost, & effort associated with the creation of computer visualization applications.  JView provides the programmer with the ability to quickly develop 2-dimensional and 3-dimensional visualization applications that are tailored to address a specific problem.
								</li>
<!-- 								<li>Major technologies used: Java, JOGL, OpenGL.</li>
	<li>JView is used by numerous developers from the DOD and DOD contractors.</li> -->
</ul>
</p>
</div>
<div>
	<p>
		<b>Evaluation Highlights:</b>
	</p>
	<p>
		<ul>
			<li><b>JView seems very stable</b>. We could not get it to crash unexpectedly. The stability is good, but letting the user know what error is happening is not so good (see the next question).</li>
			<li><b>The documents are clear to understand</b>. The main documentation help is the demobrowser application, which has descriptions, source code and runnable examples of over 120 different uses of the API.</li>
			<li><b>The original developers do not have the resources to support the asset</b> as an enterprise asset. They will continue to support questions through forge.mil as they always have and respond as able.</li>
		</ul>
	</p>
</div>
<div>
	<p>
		<b>ID2E Summary:</b>
	</p>
	<p>
		JView was found to be a very useful and an easy tool to use.  Getting started is easy because of the demobrowser application which has 120+ application examples that include a full description, source code, and a run-able sample application.  The source code can be copied verbatim to create an application quickly, or modified to whatever extent the developer desires. The samples include everything from creating a basic universe and 3D graph, shaders, creating any type of models, capturing animation, geographical visualization, and many more possibilities.  It is a very extensive tool and easy to put to use.  However, some of the evaluation aspects that could receive a high evaluation fall short.
	</p>
</div>
</div>
<!-- table-striped -->
<table class="table table-bordered table-hover table-condensed">
	<tbody>
		<tr>
			<td class="warning valign" colspan="2"><h4>External Dependencies</h4></td>
		</tr>							
		<tr data-ng-repeat="row in externalDepend">
			<td width="50%">{{row.name}}</td>
			<td width="50%">{{row.desc}}</td>
		</tr>
	</tbody>
</table>	
<table class="table table-bordered table-hover">
	<tbody>
		<tr>
			<td class="warning valign"  colspan="2"><h4>Location of Asset Artifacts</h4></td>
		</tr>							
		<tr data-ng-repeat="row in localAssetArtifacts">
			<td width="30%">{{row.name}}</td>
			<td width="70%">{{row.desc}}</td>
		</tr>
	</tbody>
</table>									
</div>
<div class="col-md-3">
	<div class="table-responsive">
		<table class="table table-bordered table-hover " ng-repeat="row in componentSummary">
			<tbody>
				<tr>
					<td class="warning"  colspan="3"><h4>Component Scoring</h4></td>
				</tr>
				<tr>
					<td class="success" style="vertical-align:middle"  colspan="2"><h4>Overall Score</h4></td>
					<td class="success"  colspan="1"><h4>46.7</h4>Out of 100</td>
				</tr>	
				<tr>
					<td class="success" style="vertical-align:middle"  colspan="2"><h5>Evaluation Date</h5></td>
					<td class="success"  colspan="1"><h5>{{row.evaluationdate}}</h5></td>
				</tr>
				<tr data-ng-repeat="row in scoreCard">
					<td style="vertical-align:middle" width="50%">{{row.name}}</td>
					<td style="vertical-align:middle" width="10%">{{row.ranking}}</td>
					<td style="vertical-align:middle" width="40%" >
						<i ng-repeat="t in getTimes(row.ranking) track by $index" class="fa fa-circle" style="color:#ff4800"></i>
					</td>
					<!-- #4679B2 -->
				</tr>							
			</tbody>
		</table>
		<table class="table table-bordered table-hover">
			<tbody>
				<tr>
					<td class="warning" colspan="2"><h4>Component Vitals</h4></td>
				</tr>
				<tr data-ng-repeat="row in componentVitals">
					<td style="vertical-align:middle"  width="50%">{{row.name}}</td>
					<td style="vertical-align:middle"  width="50%">{{row.desc}}</td>
				</tr>
			</tbody>
		</table>
<!-- 				<table class="table table-bordered table-hover">
						<tbody>
							<tr>
								<td  class="warning" colspan="2"><h4>Points of Contact</h4></td>
							</tr>
							<tr data-ng-repeat="row2 in pointsContact">
								<td>
									<table class="table table-hover">
										<tr>
											<td style="background-color:#EEEEEE"  colspan="2">{{row2.position}}</td>
										</tr>
										<tr>
											<td style="vertical-align:middle"  width="50%">Name</td>
											<td style="vertical-align:middle" width="50%">{{row2.name}}</td>
										</tr>
										<tr>
											<td width="50%">Email</td>
											<td width="50%">{{row2.email}}</td>
										</tr>										
									</table>
								</td>
							</tr>
						</tbody>
					</table> -->
				</div>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<td  class="warning" colspan="3"><h4>Points of Contact</h4></td>
						</tr>
						<tr>
							<td width="25%" style="background-color:#dddddd;vertical-align:middle;font-weight:bold">Position</td>
							<td width="25%" style="background-color:#dddddd;vertical-align:middle;font-weight:bold">Name</td>
							<td width="50%" style="background-color:#dddddd;vertical-align:middle;font-weight:bold">Email</td>
						</tr>
						<tr data-ng-repeat="row in pointsContact">
							<td>{{row.position}}</td>
							<td>{{row.name}}</td>
							<td>{{row.email}}</td>
						</tr>										
					</tbody>
				</table>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
