<!-- List the attributes in a table and provide the information to edit -->
<div>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Key</th>
        <th>Src</th>
        <th>Collection</th>
      </tr>
      <tr ng-repeat="filter in filters">
        <td><input class="form-control input" type="text" ng-model="filter.name"/></td>
        <td><input class="form-control input" type="text" ng-model="filter.key"/></td>
        <td><input class="form-control input" type="text" ng-model="filter.src"/></td>
        <td class="imitateLink" ng-click="editCollection(filter.key)"><a>Edit Code Collection</a></td>
      </tr>
    </tbody>
  </table>
</div>