<!-- First make the selection for which attributes can be edited -->

<label for="collection">Attribute Codes to edit:</label>
<select class="form-control" name="collection" id="collection" ng-model="collectionSelection" ng-change="grabCollection(collectionSelection.key)" ng-options="item.name for item in collection" style="width: auto;">
  <option value="">-- Choose an Attribute --</option>
</select>

<!-- Then when the selection has been made, put the content here to be edited -->
<div>
  <table class="table table-hover">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Code</th>
        <th>Description</th>
        <th>Long Description</th>
        <th>Start with Filter Applied</th>
        <th>Add/Edit Landing Page</th>
      </tr>
      <tr ng-repeat="item in collectionContent">
        <td><input class="form-control input" type="text" ng-model="item.type"/></td>
        <td><input class="form-control input" type="text" ng-model="item.code"/></td>
        <td><input class="form-control input" type="text" ng-model="item.desc"/></td>
        <td><textarea class="form-control input" type="text" ng-model="item.longDesc"></textarea></td>
        <td><input class="" type="checkbox" ng-model="item.checked" ng-checked="item.checked"/></td>
        <td ng-if="item.landing" class="imitateLink" ng-click="editLanding(item.landing)"><a>Edit Landing Page</a></td>
        <td ng-if="!item.landing" class="imitateLink" ng-click="editLanding('')"><a>Add Landing Page</a></td>
      </tr>
    </tbody>
  </table>
</div>