/*Greater to Smaller!*/

/* Effects only Below 1200 */
@media (max-width: 1199px) {
  
}

/* Effects only Below 991px*/
@media (max-width: 991px) {
  .defaultSearch{
    margin-left:100px !important;
    margin-right:100px !important;
  }
  .default-content{
    margin:0px !important;
    padding:10px !important;
    width: 100%;
  }
}

/* Effects only Below 768px */
@media (max-width: 767px) {
  .default-content .categories{
    float:left;
    width: 100%;
    height: auto;
  }
  .fixed-on-small{
    position: fixed;
  }


  .container-fluid{
    padding: 0px;
  } 
  .navbar-header, .userNavDropdownHidden ul li a{
    padding-left:5px;
    padding-right:5px;
  }
  .userNavDropdownHidden{
    margin: 0px !important;
    width: 100%;
  }
  .userNavDropdownHidden ul li ul li a{
    padding-left:14px !important;
    padding-right:14px !important;
  }
  .userNavDropdownHidden ul{
    margin: 0px 0px !important;
  }
  .navSearch, .navbar-form, .userNavDropdownHidden, .userNavDropdownHidden ul li ul, .default-content{
    margin:0px !important;
    padding:0px !important;
    width: 100%;
  }
  .navSearchBar{
    margin-right:38px;
  } 
  .navSearchBar input{
    margin-right: -38px;
  }
  .defaultSearch{
    padding: 0px !important;
  }
  .defaultSearch form div input, .defaultSearch form div button{
    font-size: 1em;
    height: 35px;
  }
  .defaultSearch form div.navSearchBar{
    margin-right: 38px;
  }
  .defaultSpacer{
    min-height: 202px;
  }
  .searchBoxButton button, .navSearchBar input{
    border-radius: 0px 0px 0px 0px; 
  }
}

/* Effects only below 480px */
@media  (max-width: 479px) {
  .hidden-small{
    display: none;
    visibility: hidden;
  }
  .banner{
    padding: 10px 2px;
    font-size: 1.8em;
  }
  .defaultSpacer{
    min-height: 162px;
  }
  .screenshot{
    /*This adjusts the screenshot image so that when the smallest screen appears*/
    /*All of the images adjust to fit the screen.*/
    width: 100%;
  }
}


/*Smaller to Greater!*/

@media (min-width: 480px) {

}
/* Small devices (tablets, 786px and up) */
@media (min-width: 768px) {
  #bs-example-navbar-collapse-2{
    display: none !important;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}