<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-12">
      <h3> How many stars: 
        <raty class="large-raty" id="star{{$index}}" style="min-width:110px; height: 100%; margin: -6px 10px -4px 0px;" score="0" number="5" path="../../images/raty/">
        </raty>
      </h3>
    </div>
    <div class="col-sm-12">
      <strong>Title: </strong>
      <input type="text" class="form-control" style="width: auto; display:inline-block" placeholder="Enter Review Title Here">
    </div>
    <div>
      <div class="col-sm-6">
        <strong>Pros: </strong>
        <ul style="list-style: none">
          <li>
            <div class="checkbox">
              <label for="pro1">
                <input type="checkbox" name="pros" id="pro1">
                <span>Well tested</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="pro2">
                <input type="checkbox" name="pros" id="pro2">
                <span>Active Development</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="pro3">
                <input type="checkbox" name="pros" id="pro3">
                <span>Reliable</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="pro4">
                <input type="checkbox" name="pros" id="pro4">
                <span>Open Source</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="pro5">
                <input type="checkbox" name="pros" id="pro5">
                <span>Compact</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="pro6">
                <input type="checkbox" name="pros" id="pro6">
                <span>Well Tested</span>
              </label>
            </div>
          </li>
        </ul>      
      </div>
      <div class="col-sm-6">
        <strong>Cons: </strong>
        <ul style="list-style: none">
          <li>
            <div class="checkbox">
              <label for="con1">
                <input type="checkbox" name="cons" id="con1">
                <span>Poorly Tested</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="con2">
                <input type="checkbox" name="cons" id="con2">
                <span>Security Concerns</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="con3">
                <input type="checkbox" name="cons" id="con3">
                <span>Difficult Installation</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="con4">
                <input type="checkbox" name="cons" id="con4">
                <span>Poor Documentation</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="con5">
                <input type="checkbox" name="cons" id="con5">
                <span>Bulky</span>
              </label>
            </div>
          </li>
          <li>
            <div class="checkbox">
              <label for="con6">
                <input type="checkbox" name="cons" id="con6">
                <span>Legacy system</span>
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div>
      <strong>Comments:</strong>      
      <div><textarea name="" id="" rows="10" class="boxsizingBorder"></textarea></div>
    </div>
  </div>
</div>