
/* Below 1024*/
@media (max-width: 1200px) {
  .full-on-small{
    width: 70%;
  }
  .main-content{
    width: 100%;
  }
  #userMenuDiv{
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .help-info{
    margin-top: 5px;
    border: 1px grey solid; 
    border-radius: 4px; 
    height: inherit; 
    position: inherit; 
    background: white;
  }
  .margin-md-5{
    margin-right:0px;
  }
}

@media (max-width: 991px) {
  #detailPanel{
    padding-top: 50px !important;
  }
  .headerApplicationTitle{
    margin-bottom: 10px;
  }
  #resultsPanel{
    padding-top: 50px !important;
  }
  #resultsPanel-body{
    margin-top: 38px;
  }
  #filterPanel{
    padding-top: 50px !important;
  }
  #filterPanel-placeholder{
    padding-top: 50px !important;
  }
  #resultsPanel > div:first-child > div:first-child
  {
    /*border: 1px red solid;*/
    height: 76px !important;
  }
  #pagingToolbar{
    width: 310px !important;
  }
  #pagingToolbar-innerCt{
    width: 310px !important;
    height: 66px !important;
  }
  #pagingToolbar > div:first-child > div:last-child > div:last-child
  {
    left:0px !important;
    top: 38px !important;
  }
  #smallDetail, #largeDetail{
    top: 38px !important;
    float:right !important;
  }
  #smallDetail{
    left: 220px !important;
  }
  #largeDetail{
    left: 260px !important;
  }
}

/* Smallest devices*/
@media (max-width: 768px) {
  .leftDesc{
    top: 10px;
    display: inline-table;
    clear: both;
  }
  .desc-title{
    margin-left: 0px;
  }
  .full-on-small{
    width: 90%;
  }
  .searchgroup{
    padding-top: 20px;
    padding-bottom: 15px;
  }
  #resultsPanel{
    width: 100%;
  }
  .main-content .col-sm-4{
    height: inherit;
  }
  .categories{
    margin-top: 0px;
  }
  .hide-on-small{
    display:none;
    visibility: hidden;
  }
  .componentIconLarge,.componentIconLarge > span, .componentIconLarge > span > div, .componentIconLarge > span > div > img{
    top: 10px !important;
    right: 5px !important;
    width: 20px !important;
    height: 20px !important;
  }
  .componentIconLarge + div{
    left: 25px !important;
    right: -20px !important;
  }
}


@media  (max-width: 480px) {
  #resultsPanel{
    padding-top: 50px !important;
  }
  #resultsPanel-body{
    margin-top: 0px;
  }
  #toolbar{
    visibility: visible;
    position: relative;
    top: -50px;
  }
}



/* Smaller still devices*/
@media  (max-width: 460px) {
  .full-on-small{
    width: 100%;
  }
  .searchgroup{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 100px;
    margin-bottom: -5px;
    position: fixed;
    width: 100%;
    z-index:2;
  }
  #helpSearch{
    /*padding-top: 0px;*/
    padding: 0px !important;
    margin-top: 5px !important;
    position: relative !important;
    width: 100%;
  }
   #helpSearch div{
    padding: 0px !important;
   }
   #helpSearch .col-xs-10{
    width: 100%;
   }
  .applicationtitle {
    padding-top: 10px;
    height: 60px;
    font-size: 2em;
    position: fixed;
    width: 100%;
    z-index: 6;
  }
  .hide-on-smallest{
    display: none;
    visibility: hidden;
  }
  .invisible-on-smallest{
    visibility: hidden;
  }
  .headerApplicationTitle span{
    visibility:hidden;
  }
  .splash-board a:hover{
    text-decoration: none;
  }
  .main-content{
    margin-top:150px;
  }
  .desc-title-name{
    width: 100%;
  }
  .desc-title-rating{
    float:left;
  }
  .screenshot{
    width: 100%;
  }
  .smallDetail{
    display: none;
    visibility: hidden;
  }
  .largeDetail{
    display: none;
    visibility: hidden;
  }
  .ratings{
    left: 330px !important;
    display: none;
  }
  .componentIconLarge + div{
/*    display: inline-block !important;
    width: 100% !important;*/
  }
  .summar{
    height: 100% !important;
  }
  .summary > div:first-child > span:first-child > div:first-child > div:nth-child(2) > span:first-child > div:first-child{
    padding: 0px !important;
  }
  #toolbar > div:first-child{
    width: 264px !important;
  }
  #resultsPanel-body > span:first-child{
    padding-bottom: 40px !important;
  }
  .pad-100{
    padding-top: 100px !important;
  }
}
/* Small devices (tablets, 786px and up) */
@media (min-width: 768px) {
  .main-content .col-sm-4{
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px transparent solid;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}