/***************************************************************
* This is the css that handles the typeahead dropdown list that shows up for the
* search bars
***************************************************************/
span.twitter-typeahead {
  display:block !important;
} 

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 10px;
  font-size: 18px;
  line-height: 18px;
}
.tt-suggestion p {
  margin: 5px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #3892d3;
}
.tt-hint {
  color: #999;
}
