/***************************************************************
* This CSS is used to set up the fonts for the site including a specific
* fontello item for the 'storefront' icon
***************************************************************/

/***************************************************************
* This is the font that was used for the original DI2E logo
***************************************************************/
@font-face {
  font-family: 'WideLatin';
  src: font-url('wide_latin.eot');
  src: font-url('wide_latin.eot?#iefix') format('embedded-opentype'),
  font-url('wide_latin.woff') format('woff'),
  font-url('wide_latin.ttf') format('truetype'),
  font-url('wide_latin.svg#wide_latinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/***************************************************************
* This was used for the storefront icon
***************************************************************/
@font-face {
  font-family: 'fontello';
  src: font-url('fontello.eot');
  src: font-url('fontello.eot?#iefix') format('embedded-opentype'),
  font-url('fontello.woff') format('woff'),
  font-url('fontello.ttf') format('truetype'),
  font-url('fontello.svg#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}


/***************************************************************
* This is used for the rating system in place of the fontawesome stars
***************************************************************/
@font-face {
  font-family: "raty";
  src: font-url('raty.eot');
  src: font-url('raty.eot?#iefix') format('embedded-opentype'),
  font-url('raty.svg#raty') format('svg'),
  font-url('raty.ttf') format('truetype'),
  font-url('raty.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92911784#fontello') format('svg');
  }
}
*/

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-shop:before { content: '\e801'; } /* '' */